<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Description</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <h1>The Greatest Description</h1>
        <h2>This password generator was made by the dummy developer just for fun and studying.
            Sorry if you're hoping to read something smart on this page.</h2>
        <a href="{% url 'mainapp:home' %}">Return to generate your password</a>
    </div>
</body>
</html>